@media all and (min-width: 600px) {
  body {
    background: #000;
  }
}
@media (max-width: 400px) and (min-width: 200px) {
  body {
    background: #f00;
  }
}
@media (max-width: 200px) {
  body {
    background: #ff0;
  }
}
